.timeline-item {
  padding: 25px 0;
  border-left: 2px solid #e0e0e0;
  margin-left: 120px;
  padding-left: 30px;
  position: relative;
}

.timeline-item:last-child {
  border-left: 2px solid transparent;
}

.timeline-year {
  position: absolute;
  left: -150px;
  top: 25px;
  background-color: #111;
  color: #fff;
  padding: 8px 12px;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 2px;
  min-width: 100px;
  text-align: center;
}

.timeline-item h5 {
  font-size: 1.1rem;
  font-weight: 600;
  color: #222;
  margin: 0 0 10px;
}

.timeline-item p {
  font-size: 0.9rem;
  color: #666;
  line-height: 1.7;
  margin: 0;
}

body.dark-mode .timeline-item {
  border-left-color: #333;
}

body.dark-mode .timeline-item:last-child {
  border-left-color: transparent;
}

body.dark-mode .timeline-year {
  background-color: #fff;
  color: #121212;
}

body.dark-mode .timeline-item h5 {
  color: #fff;
}

body.dark-mode .timeline-item p {
  color: #aaa;
}

@media screen and (max-width: 600px) {
  .timeline-item {
    margin-left: 0;
    padding-left: 0;
    border-left: none;
  }

  .timeline-year {
    position: static;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 0.65rem;
    padding: 6px 10px;
    min-width: auto;
  }
}